section.project-ct-box
	article
		.container
			.row
				.col.pl-0
					.title-block.mb-4
						h2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
			.row
				.col-sm-6.pl-0
					.img-block.mb-3
						a(href="./img/dongtay/project/project_big.png")
							img(src="./img/dongtay/project/project_big.png", alt="").img-fluid
				.col-sm-6
					.text-block-left
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error quaerat cum, aut aliquam amet distinctio ipsam? Cupiditate illo, officia doloribus molestias excepturi perferendis eius, eum quisquam voluptate nesciunt ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, odio! Expedita maiores, sapiente, ut eum similique dolor suscipit corrupti unde, nam dicta totam modi sunt non accusamus incidunt fuga. Iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error quaerat cum, aut aliquam amet distinctio ipsam? Cupiditate illo, officia doloribus molestias excepturi perferendis eius, eum quisquam voluptate nesciunt ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, odio! Expedita maiores, sapiente, ut eum similique dolor suscipit corrupti unde, nam dicta totam modi sunt non accusamus incidunt fuga. Iste! Lorem
			.row
				.col.px-0 
					.text-block-below
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error quaerat cum, aut aliquam amet distinctio ipsam? Cupiditate illo, officia doloribus molestias excepturi perferendis eius, eum quisquam voluptate nesciunt ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, odio! Expedita maiores, sapiente, ut eum similique dolor suscipit corrupti unde, nam dicta totam modi sunt non accusamus incidunt fuga. Iste!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error quaerat cum, aut aliquam amet distinctio ipsam? Cupiditate illo, officia doloribus molestias excepturi perferendis eius, eum quisquam voluptate nesciunt ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, odio! Expedita maiores, sapiente, ut eum similique dolor suscipit corrupti unde, nam dicta totam modi sunt non accusamus incidunt fuga. Iste!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error quaerat cum, aut aliquam amet distinctio ipsam? Cupiditate illo, officia doloribus molestias excepturi perferendis eius, eum quisquam voluptate nesciunt ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, odio! Expedita maiores, sapiente, ut eum similique dolor suscipit corrupti unde, nam dicta totam modi sunt non accusamus incidunt fuga. Iste!