section.canhcam-card-service
	.container
		.row.no-gutters
			.col-12.col-lg-4.col-xl-3
				.side-panel
					h2
						|full of 
						span services
					p DTM specializes  in the manufacture of pressure vessels, process skids, modules and general heavy structures,  further addressing the needs of the group’s customers in the oil and gas industry.
			.col-12.col-lg-8.col-xl-9
				.canhcam-card-group
					a(href="#").canhcam-card
						figure.canhcam-card-img
							img(src="./img/dongtay/services/services_1.png", alt="")
						.canhcam-card-body
							h2.canhcam-card-title Lorem ipsum dolor sit amet
							p.canhcam-card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					a(href="#").canhcam-card
						figure.canhcam-card-img
							img(src="./img/dongtay/services/services_2.png", alt="")
						.canhcam-card-body
							h2.canhcam-card-title Lorem ipsum dolor sit amet
							p.canhcam-card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					a(href="#").canhcam-card
						figure.canhcam-card-img
							img(src="./img/dongtay/services/services_3.png", alt="")
						.canhcam-card-body
							h2.canhcam-card-title Lorem ipsum dolor sit amet
							p.canhcam-card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					a(href="#").canhcam-card
						figure.canhcam-card-img
							img(src="./img/dongtay/services/services_4.png", alt="")
						.canhcam-card-body
							h2.canhcam-card-title Lorem ipsum dolor sit amet
							p.canhcam-card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					a(href="#").canhcam-card
						figure.canhcam-card-img
							img(src="./img/dongtay/services/services_5.png", alt="")
						.canhcam-card-body
							h2.canhcam-card-title Lorem ipsum dolor sit amet
							p.canhcam-card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					a(href="#").canhcam-card
						figure.canhcam-card-img
							img(src="./img/dongtay/services/services_6.png", alt="")
						.canhcam-card-body
							h2.canhcam-card-title Lorem ipsum dolor sit amet
							p.canhcam-card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.