section.canhcam-breadcrumb-1.bg-blue
	.main-breadcrumb
		.container
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Home
				li.breadcrumb-item
					a(href='#') Library
				li.breadcrumb-item.active(aria-current='page') Đăng ký email để nhận những thông tin mới nhất
