section.quality-box 
	article
		.container
			.row 
				.col 
					h2.title-with-pattern.py-4 Certificates
					.certificates-text.mt-3.mt-md-0
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. At vel unde optio? Hic dolor eligendi earum voluptatibus impedit, possimus porro, dolores illum doloremque, aspernatur non laudantium autem placeat laboriosam iure.
					.certificates-img.d-flex.justify-content-center.align-items-center.flex-column.flex-sm-row
						.img-block-left.d-flex.justify-content-center.align-items-center
							a(href="./img/dongtay/quality/quality_1.png")
								img(src="./img/dongtay/quality/quality_1.png", alt="").img-fluid
						.img-block.p-4
							a(href="./img/dongtay/quality/quality_2.png")
								img(src="./img/dongtay/quality/quality_2.png", alt="").img-fluid
			.row 
				.col 
					h2.title-with-pattern.py-4 Partner
					.partner-slider.owl-carousel.owl-theme.mt-3
						.partner-item 
							.img-partner
								a(href="#")
									img(src="./img/dongtay/quality/partner_1.png", alt="")
						.partner-item 
							.img-partner
								a(href="#")
									img(src="./img/dongtay/quality/partner_2.png", alt="")
						.partner-item 
							.img-partner
								a(href="#")
									img(src="./img/dongtay/quality/partner_3.png", alt="")
						.partner-item 
							.img-partner
								a(href="#")
									img(src="./img/dongtay/quality/partner_4.png", alt="")
						.partner-item 
							.img-partner
								a(href="#")
									img(src="./img/dongtay/quality/partner_5.png", alt="")