section.home-box
	article
		.container
			.row
				.col-lg-3
					.row
						.col-sm-6.col-lg-12.mb-4.mb-lg-0
							h2.title-with-pattern.mb-3 Our services
							a(href="#")
								.img-block.d-flex.justify-content-center
									img(src="./img/dongtay/home/home_services.png", alt="").img-fluid
						.col-sm-6.col-lg-12.mb-4.mt-lg-5
							h2.title-with-pattern.mb-3 Projects
							a(href="#")
								.img-block.d-flex.justify-content-center
									img(src="./img/dongtay/home/home_project.png", alt="").img-fluid
				.col-lg-6
					.row 
						.col 
							.home-slider
								.item
									.img-slider
										img(src="./img/dongtay/home/home_slider.png", alt="")
										.title-block.px-3
											h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste obcaecati, 
								.item
									.img-slider
										img(src="./img/dongtay/home/home_slider.png", alt="")
										.title-block.px-3
											h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste obcaecati, 
								.item
									.img-slider
										img(src="./img/dongtay/home/home_slider.png", alt="")
										.title-block.px-3
											h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste obcaecati, 
					.row.brand-wrapper
						.col-sm-5
							.welcome.mt-4.pr-2.text-center
								p.mb-0.text-1 Welcome to
								h1.mb-0.text-2 Dong tay
								p.mb-0.text-3 Manufacturing
						.col-sm-7
							.brand-desc.mt-sm-4.pt-2.py-2
								p.mb-0 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi velit mollitia facilis placeat. Fugiat dolorem explicabo, sed optio tempora dolores, eius voluptate modi non amet at perspiciatis architecto! Rem, facere.
				.col-lg-3
					.row
						.col-sm-6.col-lg-12.mb-4.mb-lg-0 
							h2.title-with-pattern.mb-3 Quality
							.quality-slider
								.item
									a(href="#")
										.img-block.d-flex.justify-content-center.align-items-center
											img(src="./img/dongtay/home/home_quality.png", alt="").img-fluid
								.item
									a(href="#")
										.img-block.d-flex.justify-content-center.align-items-center
											img(src="./img/dongtay/home/home_quality.png", alt="").img-fluid
						.col-sm-6.col-lg-12.mb-4.mt-lg-5
							h2.title-with-pattern.mb-3 Location
							a(href="#")
								.img-block.d-flex.justify-content-center
									img(src="./img/dongtay/home/home_project.png", alt="").img-fluid