section.canhcam-tabs-service-ct
	.toggle
		span
	ul.tabs-nav(role="tablist")
		li.tabs-nav-item.tabs-nav-item-active
			a(href="#tab-1" tab-id="1").tabs-nav-link Heavy steel structure fabrication and erection
		li.tabs-nav-item
			a(href="#tab-2" tab-id="2").tabs-nav-link Pressure vessel design and fabrication to ASME Code and/ or clients specification
		li.tabs-nav-item
			a(href="#tab-3" tab-id="3").tabs-nav-link Pressure piping design and fabrication to ASME 31.3 and/ or clients specification
		li.tabs-nav-item
			a(href="#tab-4" tab-id="4").tabs-nav-link Process module fabrication and erection including equipment installation and piping erection
		li.tabs-nav-item
			a(href="#tab-5" tab-id="5").tabs-nav-link Available using various process on various steels
		li.tabs-nav-item
			a(href="#tab-6" tab-id="6").tabs-nav-link Design, engineering services and project management services
	.container
		.row
			.col-lg-4.col-xl-3
				ul.tabs-header(role="tablist")
					li.nav-item.nav-active
						a(href="#tab-1" tab-id="1").tabs-nav-link Heavy steel structure fabrication and erection
					li.nav-item
						a(href="#tab-2" tab-id="2").tabs-nav-link Pressure vessel design and fabrication to ASME Code and/ or clients specification
					li.nav-item
						a(href="#tab-3" tab-id="3").tabs-nav-link Pressure piping design and fabrication to ASME 31.3 and/ or clients specification
					li.nav-item
						a(href="#tab-4" tab-id="4").tabs-nav-link Process module fabrication and erection including equipment installation and piping erection
					li.nav-item
						a(href="#tab-5" tab-id="5").tabs-nav-link Available using various process on various steels
					li.nav-item
						a(href="#tab-6" tab-id="6").tabs-nav-link Design, engineering services and project management services
			.col-lg-8.col-xl-9
				.tab.tab-active(tab-id="1")
					figure
						img(src="./img/dongtay/project/project_big.png", alt="")
					h2 Heavy steel structure fabrication and erection
					p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
				.tab(tab-id="2")
					figure
						img(src="./img/dongtay/project/project_big.png", alt="")
					h2 Heavy steel structure fabrication and erection
					p and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
				.tab(tab-id="3") 
					figure
						img(src="./img/dongtay/project/project_big.png", alt="")
					h2 Heavy steel structure fabrication and erection
					p and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
				.tab(tab-id="4") 
					figure
						img(src="./img/dongtay/project/project_big.png", alt="")
					h2 Heavy steel structure fabrication and erection
					p and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
				.tab(tab-id="5") 
					figure
						img(src="./img/dongtay/project/project_big.png", alt="")
					h2 Heavy steel structure fabrication and erection
					p and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
				.tab(tab-id="6") 
					figure
						img(src="./img/dongtay/project/project_big.png", alt="")
					h2 Heavy steel structure fabrication and erection
					p and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.