section.recruitment
	article
		.container
			.row 
				.col 
					.accordion#accordionRecruitment
						.card.border-bottom
							.card-header#headingOne.mb-0
								h3.mb-0
									button.btn.pt-0(type="button" data-toggle="collapse" data-target="#recruitmentOne" aria-expanded="true" aria-controls="recruitmentOne") 
										p.mb-0 Master 
							#recruitmentOne.collapse.show(aria-labelledby="headingOne" data-parent="#accordionRecruitment")
								.card-body.pt-0
									ul.list-unstyled.mb-4.description
										li 
											p Sector: Seagoing
										li 
											p Location: V. Ships Rijeka
										li 
											p Rank: Master
										li 
											p Vessel Type: Bulker
										li 
											p DWT: 20000
										li 
											p Date Posted: 20 November 2015
									h4 Vacancy detail
									.vacancy-detail
										p.mb-0 Job Description:
										ul.list-unstyled
											li 
												p Dong Tay is looking for master for bulk carrier. Embarkation is expected during December 2015. Requirements are at least 2 contracts in rank.
										p.mb-0 Job Requirement:
										ul.list-unstyled
											li 
												p Male/ Female from 23 to 30 years old
											li 
												p University Degree
											li 
												p Good at English
											li 
												p Well understand Shop drawings and structure of building
											li
												p Proficiency in SAP, ETABS, AutoCAD, REVIT, Microsoft office…
											li 
												p Careful, creative, dynamic, teamwork and self-motivated
									.crew-card
										.crew-card-link.mb-2
											a(href="#").d-flex.align-items-center
												i.mr-2.fa.fa-download
												p.text-uppercase.mb-0 Crew card
										.crew-card-email
											p 
												| Please send information about 
												a(href="#") crew@dongtay.com
						.card.border-bottom
							.card-header#headingTwo.mb-0
								h3.mb-0
									button.btn.pt-0(type="button" data-toggle="collapse" data-target="#recruitmentTwo" aria-expanded="true" aria-controls="recruitmentTwo") 
										p.mb-0 Master 
							#recruitmentTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionRecruitment")
								.card-body.pt-0
									ul.list-unstyled.mb-4.description
										li 
											p Sector: Seagoing
										li 
											p Location: V. Ships Rijeka
										li 
											p Rank: Master
										li 
											p Vessel Type: Bulker
										li 
											p DWT: 20000
										li 
											p Date Posted: 20 November 2015
									h4 Vacancy detail
									.vacancy-detail
										p.mb-0 Job Description:
										ul.list-unstyled
											li 
												p Dong Tay is looking for master for bulk carrier. Embarkation is expected during December 2015. Requirements are at least 2 contracts in rank.
										p.mb-0 Job Requirement:
										ul.list-unstyled
											li 
												p Male/ Female from 23 to 30 years old
											li 
												p University Degree
											li 
												p Good at English
											li 
												p Well understand Shop drawings and structure of building
											li
												p Proficiency in SAP, ETABS, AutoCAD, REVIT, Microsoft office…
											li 
												p Careful, creative, dynamic, teamwork and self-motivated
									.crew-card
										.crew-card-link.mb-2
											a(href="#").d-flex.align-items-center
												i.mr-2.fa.fa-download
												p.text-uppercase.mb-0 Crew card
										.crew-card-email
											p 
												| Please send information about 
												a(href="#") crew@dongtay.com
						.card.border-bottom
							.card-header#headingThree.mb-0
								h3.mb-0
									button.btn.pt-0(type="button" data-toggle="collapse" data-target="#recruitmentThree" aria-expanded="true" aria-controls="recruitmentThree") 
										p.mb-0 Master 
							#recruitmentThree.collapse(aria-labelledby="headingThree" data-parent="#accordionRecruitment")
								.card-body.pt-0
									ul.list-unstyled.mb-4.description
										li 
											p Sector: Seagoing
										li 
											p Location: V. Ships Rijeka
										li 
											p Rank: Master
										li 
											p Vessel Type: Bulker
										li 
											p DWT: 20000
										li 
											p Date Posted: 20 November 2015
									h4 Vacancy detail
									.vacancy-detail
										p.mb-0 Job Description:
										ul.list-unstyled
											li 
												p Dong Tay is looking for master for bulk carrier. Embarkation is expected during December 2015. Requirements are at least 2 contracts in rank.
										p.mb-0 Job Requirement:
										ul.list-unstyled
											li 
												p Male/ Female from 23 to 30 years old
											li 
												p University Degree
											li 
												p Good at English
											li 
												p Well understand Shop drawings and structure of building
											li
												p Proficiency in SAP, ETABS, AutoCAD, REVIT, Microsoft office…
											li 
												p Careful, creative, dynamic, teamwork and self-motivated
									.crew-card
										.crew-card-link.mb-2
											a(href="#").d-flex.align-items-center
												i.mr-2.fa.fa-download
												p.text-uppercase.mb-0 Crew card
										.crew-card-email
											p 
												| Please send information about 
												a(href="#") crew@dongtay.com
						.card.border-bottom
							.card-header#headingFour.mb-0
								h3.mb-0
									button.btn.pt-0(type="button" data-toggle="collapse" data-target="#recruitmentFour" aria-expanded="true" aria-controls="recruitmentFour") 
										p.mb-0 Master 
							#recruitmentFour.collapse(aria-labelledby="headingFour" data-parent="#accordionRecruitment")
								.card-body.pt-0
									ul.list-unstyled.mb-4.description
										li 
											p Sector: Seagoing
										li 
											p Location: V. Ships Rijeka
										li 
											p Rank: Master
										li 
											p Vessel Type: Bulker
										li 
											p DWT: 20000
										li 
											p Date Posted: 20 November 2015
									h4 Vacancy detail
									.vacancy-detail
										p.mb-0 Job Description:
										ul.list-unstyled
											li 
												p Dong Tay is looking for master for bulk carrier. Embarkation is expected during December 2015. Requirements are at least 2 contracts in rank.
										p.mb-0 Job Requirement:
										ul.list-unstyled
											li 
												p Male/ Female from 23 to 30 years old
											li 
												p University Degree
											li 
												p Good at English
											li 
												p Well understand Shop drawings and structure of building
											li
												p Proficiency in SAP, ETABS, AutoCAD, REVIT, Microsoft office…
											li 
												p Careful, creative, dynamic, teamwork and self-motivated
									.crew-card
										.crew-card-link.mb-2
											a(href="#").d-flex.align-items-center
												i.mr-2.fa.fa-download
												p.text-uppercase.mb-0 Crew card
										.crew-card-email
											p 
												| Please send information about 
												a(href="#") crew@dongtay.com
						.card.border-bottom
							.card-header#headingFive.mb-0
								h3.mb-0
									button.btn.pt-0(type="button" data-toggle="collapse" data-target="#recruitmentFive" aria-expanded="true" aria-controls="recruitmentFive") 
										p.mb-0 Master 
							#recruitmentFive.collapse(aria-labelledby="headingFive" data-parent="#accordionRecruitment")
								.card-body.pt-0
									ul.list-unstyled.mb-4.description
										li 
											p Sector: Seagoing
										li 
											p Location: V. Ships Rijeka
										li 
											p Rank: Master
										li 
											p Vessel Type: Bulker
										li 
											p DWT: 20000
										li 
											p Date Posted: 20 November 2015
									h4 Vacancy detail
									.vacancy-detail
										p.mb-0 Job Description:
										ul.list-unstyled
											li 
												p Dong Tay is looking for master for bulk carrier. Embarkation is expected during December 2015. Requirements are at least 2 contracts in rank.
										p.mb-0 Job Requirement:
										ul.list-unstyled
											li 
												p Male/ Female from 23 to 30 years old
											li 
												p University Degree
											li 
												p Good at English
											li 
												p Well understand Shop drawings and structure of building
											li
												p Proficiency in SAP, ETABS, AutoCAD, REVIT, Microsoft office…
											li 
												p Careful, creative, dynamic, teamwork and self-motivated
									.crew-card
										.crew-card-link.mb-2
											a(href="#").d-flex.align-items-center
												i.mr-2.fa.fa-download
												p.text-uppercase.mb-0 Crew card
										.crew-card-email
											p 
												| Please send information about 
												a(href="#") crew@dongtay.com
