section.facilities-slider
	article
		.container
			.row
				.col-sm-3.d-flex.justify-content-center.px-sm-0
					.slider-nav.d-flex.align-items-center.mb-0
						.item
							.img-block.mb-2.mx-2.mx-sm-0.mt-3.mt-sm-0
								img(src="./img/dongtay/facilities/facilities_1.png", alt="").img-fluid
						.item
							.img-block.mb-2.mx-2.mx-sm-0.mt-3.mt-sm-0
								img(src="./img/dongtay/facilities/facilities_1.png", alt="").img-fluid
						.item
							.img-block.mb-2.mx-2.mx-sm-0.mt-3.mt-sm-0
								img(src="./img/dongtay/facilities/facilities_1.png", alt="").img-fluid
						.item
							.img-block.mb-2.mx-2.mx-sm-0.mt-3.mt-sm-0
								img(src="./img/dongtay/facilities/facilities_1.png", alt="").img-fluid
				.col-sm-9
					.slider-fac.d-flex.align-items-center
						.item
							.img-block
								img(src="./img/dongtay/facilities/facilities_1.png", alt="").img-fluid
								.title-block.py-3.px-4
									h3.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit exercitationem perferendis nihil nostrum
						.item
							.img-block
								img(src="./img/dongtay/facilities/facilities_1.png", alt="").img-fluid
								.title-block.py-3.px-4
									h3.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit exercitationem perferendis nihil nostrum
						.item
							.img-block
								img(src="./img/dongtay/facilities/facilities_1.png", alt="").img-fluid
								.title-block.py-3.px-4
									h3.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit exercitationem perferendis nihil nostrum
						.item
							.img-block
								img(src="./img/dongtay/facilities/facilities_1.png", alt="").img-fluid
								.title-block.py-3.px-4
									h3.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit exercitationem perferendis nihil nostrum