footer.canhcam-footer-5
	.container
		.row
			.col-12.col-lg-6
				.copyright.h-100.d-flex.align-items-center.justify-content-center.justify-content-lg-start.text-center.text-lg-left
					p © 2016 Dong Tay Manufacturing. All rights reserved. Designed by Canh Cam.
			.col-12.col-lg-6
				.footer-nav.h-100.d-flex.align-items-center.justify-content-center.justify-content-lg-end.mt-3.mt-lg-0
					ul.list-inline
						li.list-inline-item
							a(href="javascript:void(0)").btn privacy
						li.list-inline-item
							a(href="javascript:void(0)").btn terms of use
