section.canhcam-news-projects
	.container
		.row
			.col
				h2.title-with-pattern Latest projects
		.row
			.col
				.row
					.col-12.col-lg-6.main-news.mt-4
						a(href="javascript:void(0)")
							figure.news-block
								.box-zoom
									img(src="./img/dongtay/project/project_big.png", alt="").news-img
								figcaption.news-content
									h3.news-title X Mass tree handling equipment
									p.news-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
									span.news-link View more
					.col-12.col-lg-6.latest-news.mt-lg-4
						.row
							.col-12
								a(href="javascript:void(0)")
									figure.news-block
										.box-zoom
											img(src="./img/dongtay/project/project_big.png", alt="").news-img
										figcaption.news-content
											h3.news-title X Mass tree handling equipment
											p.news-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
											span.news-link View more
							.col-12
								a(href="javascript:void(0)")
									figure.news-block
										.box-zoom
											img(src="./img/dongtay/project/project_big.png", alt="").news-img
										figcaption.news-content
											h3.news-title X Mass tree handling equipment
											p.news-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
											span.news-link View more
							.col-12
								a(href="javascript:void(0)")
									figure.news-block
										.box-zoom
											img(src="./img/dongtay/project/project_big.png", alt="").news-img
										figcaption.news-content
											h3.news-title X Mass tree handling equipment
											p.news-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
											span.news-link View more

		.row.mt-3
			.col
				h2.title-with-pattern Our projects
		.row.mt-4
			.col-12.col-md-6.col-lg-4.col-xl-3.common-news
				a(href="javascript:void(0)")
					figure.news-block
						.box-zoom
							img(src="./img/dongtay/project/project_big.png", alt="").news-img
						figcaption.news-content
							h3.news-title X Mass tree handling equipment
							p.news-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							span.news-link View more
			.col-12.col-md-6.col-lg-4.col-xl-3.common-news
				a(href="javascript:void(0)")
					figure.news-block
						.box-zoom
							img(src="./img/dongtay/project/project_big.png", alt="").news-img
						figcaption.news-content
							h3.news-title X Mass tree handling equipment
							p.news-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							span.news-link View more
			.col-12.col-md-6.col-lg-4.col-xl-3.common-news
				a(href="javascript:void(0)")
					figure.news-block
						.box-zoom
							img(src="./img/dongtay/project/project_big.png", alt="").news-img
						figcaption.news-content
							h3.news-title X Mass tree handling equipment
							p.news-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							span.news-link View more
			.col-12.col-md-6.col-lg-4.col-xl-3.common-news
				a(href="javascript:void(0)")
					figure.news-block
						.box-zoom
							img(src="./img/dongtay/project/project_big.png", alt="").news-img
						figcaption.news-content
							h3.news-title X Mass tree handling equipment
							p.news-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							span.news-link View more