extends _layout/layout.pug
block variables
	- var title = "facilities"
	- var description = "Description for facilities page"
	- var bodyclass = "facilities"
	- var href = "/facilities.html"
block header
	include ../lib/header/h-dongtay/index.pug
block body
	include ../lib/slider/s-facilities/index.pug
block footer
	include ../lib/footer/f-5/index.pug
