extends _layout/layout.pug
block variables
	- var title = "project-ct"
	- var description = "Description for project-ct page"
	- var bodyclass = "project-ct"
	- var href = "/project-ct.html"
block header
	include ../lib/header/h-dongtay/index.pug
block body
	include ../lib/boxes/b-project-ct/index.pug
block footer
	include ../lib/footer/f-5/index.pug
