extends _layout/layout.pug
block variables
	- var title = "quality-ct"
	- var description = "Description for quality-ct page"
	- var bodyclass = "quality-ct"
	- var href = "/quality-ct.html"
block header
	include ../lib/header/h-dongtay/index.pug
block body
	include ../lib/boxes/b-quality-ct/index.pug
block footer
	include ../lib/footer/f-5/index.pug
