extends _layout/layout.pug
block variables
	- var title = "service-ct"
	- var description = "Description for service-ct page"
	- var bodyclass = "service-ct"
	- var href = "/service-ct.html"
block header
	include ../lib/header/h-dongtay/index.pug
block body
	include ../lib/tabs/t-service-ct/index.pug
block footer
	include ../lib/footer/f-5/index.pug
